/*.nav_head{background-color:$brand-primary !important; color:white !important;}
.k_second{background-color:$brand-secondary !important; color:black !important;}
.k_info{background-color:$brand-info ; }
.k_success{background-color:$brand-success ;}
.k_warning{background-color:$brand-warning ; }
.k_danger{background-color:$brand-danger ; }
.col_accent{color:$brand-accent ; }
.col_primary{color:$brand-primary ; }
.col_secondary{color:$brand-secondary ; }
.col_black{color:black ; }
.col_white{color:white ; }*/
html {overflow-y: auto;}
